*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
release/
app/release/
app/debug/
*.keystore
!debug.keystore
google-services.json
firebase-applet-config.json
.env
*.log
